* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea {
  all: unset;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #e1e8eb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.warning {
  position: absolute;
  bottom: 15px;
  left: 35px;
  color: red;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 5px;
}

.stat {
  flex: 1 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stat:nth-child(1),
.stat:nth-child(2) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.stat:nth-child(2),
.stat:nth-child(4) {
  border-left: 1px solid rgba(0, 0, 0, 0.08);
}

.stat__number {
  color: #4d5457;
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 10px;
}

.stat__number--limit {
  color: red;
}

.second-heading {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  color: #747a7c;
}

@media (max-width: 1150px) {
  .stat {
    padding: 15px 10px;
  }

  .stat:nth-child(1),
  .stat:nth-child(2),
  .stat:nth-child(4) {
    border: none;
  }

  .stat__number {
    font-size: 20px;
  }
}
